.header {
    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: white;
    color: rgb(83, 83, 83);
    top: 0px;
    margin: 0px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    gap: 55px;
}

a, a:visited {
    color: inherit;
    text-decoration: none !important; 
}

.items:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo:hover {
    cursor: pointer;
    background-color: rgb(239, 238, 238);
    border-radius: 20%;
    border-color: rgb(239, 238, 238);
}

.search_bar {
    width: 170px;
    height: 22px;
    border-style: ridge;
    border-width: 1px;
    border-color: gray;
    border-radius: 15px;
    }

.search_bar:focus {
    outline: auto;
    outline-width: 1px;
    outline-color: gray;
    }

.heading {
    width: 100%;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 30px;
    }

.line {
    display: block;
    margin-left: 30px;
    background-color: rgb(83, 83, 83);
    height: 0.5px;
    width: 600px;
    }

.heading-text {
    margin-left: 30px;
    color: rgb(83, 83, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    }

.remove {
    border: none;
    background-color: rgb(255, 226, 231);
    color: black;
}

.remove:hover {
    cursor: pointer;
    background-color: rgb(249, 206, 213);
    color: black;
}

.cart {
    display: flex;
    flex-direction: row;
}

.products {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.summary {
    display: flex;
    flex-direction: column;
    background-color: rgb(164, 188, 164);
    color: black;
    text-align: left;
    align-items: left;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 0px;
    margin-left: 80px;
    padding-left: 25px;
    margin-top: 30px;
    padding-top: 30px;
    width: 450px;
    height: 905px;
}

.p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    word-spacing: 3px;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 16px;
  font-size: 16px;
  width: 300px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e5e7e5;
}

.coupon {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 16px;
    font-size: 16px;
    width: 300px;
    height: 50px;
    border: none;
}

.payment-btn {
    background-color: rgb(42, 41, 41);
    color: white; 
    padding: 3px;
    margin-left: 5px;
    width: 300px;
    height: 50px;
    border-style: none;
}

.payment-btn:hover {
    background-color: black;
    color: white;
    outline: none;
    cursor: pointer;
}




.footer {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 200px;
    background-color: rgb(172, 188, 172);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    }

.footer-logo {
    display: flex;
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.footer-icons {
    position: absolute;
    top: 38%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    }

.footer-items {
    position: absolute;
    text-align: center;
    font-size: medium;
    top: 66%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    }

.footer-line {
    position: absolute;
    top: 50%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    }