*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 83, 83);
    box-sizing: border-box;
    gap: 100px;
}

.header {
    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: white;
    top: 0px;
    margin: 0px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: medium;
    height: 80px;
    gap: 55px;
}

a, a:visited {
    color: inherit;
    text-decoration: none !important; 
}

.items:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo:hover {
    cursor: pointer;
    background-color: rgb(239, 238, 238);
    border-radius: 20%;
    border-color: rgb(239, 238, 238);
}

.search_bar {
    width: 170px;
    height: 22px;
    border-style: ridge;
    border-width: 1px;
    border-color: gray;
    border-radius: 15px;
    }

.search_bar:focus {
    outline: auto;
    outline-width: 1px;
    outline-color: gray;
    }

.box {
  padding-top: 80px;
  margin: auto;
  align-items: center;
  align-content: center;
  text-align: center;
}

.line {
    margin: auto;
    height: 2px;
    width: 300px;
    background-color: rgb(96, 141, 96);
    align-items: center;
    align-content: center;
}

.column {
  float: left;
  width: 45%;
  padding: 0 10px;
  
}

.row {
    display: flex;
    margin-left: 200px;
    padding: 50px 25px;
    align-items: center;
    align-content: center;
    gap: 25px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 18px;
}

.button {
    border: none;
    padding: 5px; 
    width: 200px;
    color: aliceblue; 
    border-radius: 5px;
    background-color: rgb(96, 141, 96);
}

.button:hover {
    cursor: pointer;
    background-color: rgb(194, 141, 141);
    color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  /*gap: 100px;*/
}

.card:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

.input{
    border-color: #ffffff;
    width: 50px;
    height: 50px;
}
.input:hover{
    cursor: pointer;
    background-color: rgb(223, 223, 223);
    border-color: #ffffff;
}
.payment-btn {
    background-color: rgb(42, 41, 41);
    color: rgb(255, 255, 255); 
    padding: 3px;
    margin-left: 5px;
    width: 250px;
    height: 50px;
    border-style: none;
}

.payment-btn:hover {
    background-color: black;
    color: white;
    outline: none;
    cursor: pointer;
}
.heading {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 83, 83);
    padding-left: 50px;
}

.footer {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 200px;
    background-color: rgb(172, 188, 172);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    }

.footer-logo {
    display: flex;
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.footer-icons {
    position: absolute;
    top: 38%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    }

.footer-items {
    position: absolute;
    text-align: center;
    font-size: medium;
    top: 66%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    }

.footer-line {
    position: absolute;
    top: 50%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    }
.line2 {
    width : 400px;
    height: 1px;
    background-color: black;
    align-items: center;
    align-content: center;
    margin: 25px 350px;
}