.header {
    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: white;
    color: rgb(83, 83, 83);
    top: 0px;
    margin: 0px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    gap: 55px;
}

a, a:visited {
    color: inherit;
    text-decoration: none !important; 
}

.items:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo:hover {
    cursor: pointer;
    background-color: rgb(239, 238, 238);
    border-radius: 20%;
    border-color: rgb(239, 238, 238);
}

.search_bar {
    width: 170px;
    height: 22px;
    border-style: ridge;
    border-width: 1px;
    border-color: gray;
    border-radius: 15px;
}

.search_bar:focus {
    outline: auto;
    outline-width: 1px;
    outline-color: gray;
}

.heading {
    width: 100%;
    align-items: center;
    text-align: center;
    margin: auto;
}

.line {
    display: block;
    margin: auto;
    background-color: rgb(96, 141, 96);
    height: 1.5px;
    width: 300px;
}

.heading-text {
    margin: auto;
    color: rgb(83, 83, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.box {
    display: flex;
    flex-direction: column;
    margin-right : 100px;
    margin-left: 100px;
    padding-right: 275px;
    padding-left: 275px;
    
}    

.labels {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: rgb(83, 83, 83);
}

.input {
    align-items: center;
    border-radius: 12px;
    border-width: 0.5px;
    border-color: rgb(96, 141, 96);
    width: 500px;
    height: 50px;
    background-color: rgb(255, 244, 246);
    outline-width: 1px;
    outline-color: gray;
    margin-bottom: 10px;
    margin-top: -20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.button {
    position: relative;
    z-index: 100;
    background-color: rgba(96, 141, 96, 0.575);
    color: white; 
    padding: 3px;
    width: 300px;
    height: 50px;
    border-style: none;
    border-radius: 12px;
    align-content: space-between;
    display: block;
}

.button:hover {
    background-color:rgb(194, 141, 141) ;
    color: white;
    outline: none;
    cursor: pointer;
}

.footer {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 200px;
    background-color: rgb(172, 188, 172);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-logo {
    display: flex;
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-icons {
    position: absolute;
    top: 38%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}

.footer-items {
    position: absolute;
    text-align: center;
    font-size: medium;
    top: 66%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}

.footer-line {
    position: absolute;
    top: 50%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}
