*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 83, 83);
}

.header {
    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: white;
    top: 0px;
    margin: 0px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: medium;
    height: 80px;
    gap: 55px;
}

a, a:visited {
    color: inherit;
    text-decoration: none !important; 
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.items:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo:hover {
    cursor: pointer;
    background-color: rgb(239, 238, 238);
    border-radius: 20%;
    border-color: rgb(239, 238, 238);
}

.search_bar {
    width: 170px;
    height: 22px;
    border-style: ridge;
    border-width: 1px;
    border-color: gray;
    border-radius: 15px;
}

.search_bar:focus {
    outline: auto;
    outline-width: 1px;
    outline-color: gray;
}

body{
    padding-top: 90px;
}

h1 {
    text-align: center;
}

.line {
    display: block;
    margin: auto;
    background-color: rgb(96, 141, 96);
    height: 1.75px;
    width: 250px;
}

.r1, .r2 {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

h5 {
    color: rgb(83, 83, 83);
    font-size: 25px;
}

.describtion {
    text-align: center;
    align-content: center;
}

.r2 {
    padding-bottom: 100px;
}

.button {
    border: none;
    padding: 5px; 
    width: 200px;
    color: aliceblue; 
    border-radius: 5px;
    background-color: rgb(96, 141, 96);
}

.button:hover {
    cursor: pointer;
    background-color: rgb(194, 141, 141);
    color: white;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

.footer {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 200px;
    background-color: rgb(172, 188, 172);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-logo {
    display: flex;
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-icons {
    position: absolute;
    top: 38%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}

.footer-items {
    position: absolute;
    text-align: center;
    font-size: medium;
    top: 66%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}

.footer-line {
    position: absolute;
    top: 50%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}