.header {
    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: white;
    color: rgb(83, 83, 83);
    top: 0px;
    margin: 0px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    gap: 55px;
}

.items:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo:hover {
    cursor: pointer;
    background-color: rgb(239, 238, 238);
    border-radius: 20%;
    border-color: rgb(239, 238, 238);
}

.search_bar {
    width: 170px;
    height: 22px;
    border-style: ridge;
    border-width: 1px;
    border-color: gray;
    border-radius: 15px;
    }

.search_bar:focus {
    outline: auto;
    outline-width: 1px;
    outline-color: gray;
    }

.homepage_img {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    }

.centered {
    display: block;
    position: absolute;
    color: rgb(21, 21, 21);
    font-size: 80px;
    font-family: kalnia;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.tagline {
    position: absolute;
    color: rgb(21, 21, 21);
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.shop_now {
    position: absolute;
    background-color: rgb(96, 141, 96);
    font-size: 25px;
    padding: 15px 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.shop_now:hover {
    background-color: whitesmoke;
    color: black;
    }

.p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    word-spacing: 3px;
}

.heading {
    width: 100%;
    align-items: center;
    text-align: center;
    margin: auto;
    }

.line {
    display: block;
    margin: auto;
    background-color: rgb(96, 141, 96);
    height: 1.5px;
    width: 300px;
    }

.heading-text {
    margin: auto;
    color: rgb(83, 83, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    }

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    }

.journey {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 60px;
    padding-left: 25px;
    padding-right: 25px;
    }

.card:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    }

.footer {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 200px;
    background-color: rgb(172, 188, 172);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    }

.footer-logo {
    display: flex;
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.footer-icons {
    position: absolute;
    top: 38%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    }

.footer-items {
    position: absolute;
    text-align: center;
    font-size: medium;
    top: 66%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    }

.footer-line {
    position: absolute;
    top: 50%;
    left: 51.5%;
    transform: translate(-50%, -50%);
    }